.welcome-wrapper {
  min-height: calc(100vh - 56px); /* menyesuaikan jika ada navbar/sidebar */
  background: linear-gradient(to bottom right, #e9f4ff, #f8f9fa);
  text-align: center;
}

.logo {
  max-width: 80px;
  height: auto;
}


.video-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.2);
}
