<div class="d-flex" style="height: 100vh;">
  <app-sidebar style="width: 250px;"></app-sidebar>
  <main class="flex-grow-1 p-4 overflow-auto">
    <div class="container my-4">
      <h2 class="mb-4 text-center">Audit Case</h2>

      <div>
        <button type="button" class="btn btn-primary" (click)="addAuditCase()"><i class="fa-solid fa-square-plus"></i>
          Add Audit Case</button>
        <br>
        <br>
      </div>


      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">No</th>
            <th scope="col">Perusahaan Asuransi Terkait</th>
            <th scope="col">Judul</th>
            <th scope="col">Tahun</th>
            <th scope="col">Tipe</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let case of auditCase; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ case.company?.name }}</td>
            <td>{{ case.title }}</td>
            <td>{{ case.violationYear }}</td>
            <td>{{ case.violationType }}</td>
            <td class="text-center">
              <button (click)="gotoDetail(case.id)"><i class="fa-solid fa-circle-info"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>
</div>