.sidebar {
  min-height: 100vh;
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  justify-content: space-between; /* supaya tombol logout di bawah */
  background-color: #12508e; /* contoh warna */
  color: white;
}

.sidebar-collapsed {
  width: 60px;
}

.sidebar-collapsed .nav-link span {
  display: none;
}

.sidebar-collapsed h5 {
  display: none;
}

.sidebar .nav-link.active {
  background-color: #0d6efd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    min-height: auto;
  }

  .sidebar-collapsed {
    width: 100%;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-footer {
  margin-top: auto;
  font-size: 0.75rem;
  color: #6c757d;
}

