.mermaid-container {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  overflow-x: auto;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  align-content: center;
}

.mermaid {
  min-height: 400px;
}

.mermaid-container .node:hover {
  filter: brightness(90%);
  stroke: #007bff;
  stroke-width: 2px;
}

/* ✅ Tambahkan agar dialog lebih proporsional dan smooth */
::ng-deep .custom-dialog-panel .mat-dialog-container {
  border-radius: 16px;
  padding: 32px;
  background-color: #ffffff;
  max-width: 600px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

