<div class="d-flex" style="height: 100vh;">
  <!-- Sidebar -->
  <app-sidebar style="width: 250px;"></app-sidebar>

  <!-- Main Content -->
  <main class="flex-grow-1 p-4 overflow-auto bg-light">
    <div class="container">
      <div class="card shadow-sm border-0 rounded-4 p-4 bg-white mt-4">
        <h4 class="fw-bold text-primary mb-3">
          <i class="fas fa-plus-circle me-2"></i>Tambah Pertanyaan
        </h4>

        <form (submit)="submitQuestion()">
          <div class="mb-3">
            <label for="questionInput" class="form-label">Pertanyaan</label>
            <textarea id="questionInput" type="text" [(ngModel)]="newQuestion" name="question" class="form-control"
              placeholder="Tulis pertanyaan Anda..." required></textarea>
          </div>

          <!-- Checkbox Anonim -->
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="anonymousCheckbox" [(ngModel)]="isAnonymous"
              name="isAnonymous" />
            <label class="form-check-label" for="anonymousCheckbox">
              Kirim sebagai anonim
            </label>
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="fas fa-paper-plane me-1"></i> Kirim Pertanyaan
          </button>
          &nbsp;
          <button type="submit" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Batal
          </button>
        </form>
      </div>
    </div>
  </main>
</div>