html, body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
