html, body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ✅ Tambahkan agar dialog lebih proporsional dan smooth */
.custom-dialog-panel .mat-dialog-container {
  max-width: 600px;
  border-radius: 16px;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease-in-out;
}

.diagram-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.mermaid text {
  font-size: 16px !important;
}

