.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.form-label {
  font-weight: 500;
  color: #34495e;
}

textarea.form-control {
  resize: vertical;
}

button.btn-primary {
  border-radius: 8px;
  font-weight: 500;
}

main,
.container,
.card {
  overflow: visible !important;
  position: relative;
  z-index: 0;
}

.ng-dropdown-panel {
  z-index: 9999 !important;
}

ng-select {
  z-index: 1050;
  position: relative;
}

